<div class="container">
    <h1>Log in</h1>
    <form action="/login" method="post" class="form-container">

        <input id="username" type="text" name="username" placeholder="Username">
        <input id="password" type="password" name="password" placeholder="Password">
        <button class="action-btn">Log in</button>

    </form>

    {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
    {{/if}}
</div>