<nav><img href="/" src="/images/logo-ocre.png" style="height: 55px" alt="bird-e">
</nav>

<div class="wrapper">
    <div class="front-container">
        <img src="images/birde_badge.png" alt="bird-e badge">
        <div>
            <h1>Welcome to Bird-e</h1>
            <p><b>Nice of you to fly by!</b><br>
                A free user-friendly appthat helps you keep track of all the birds you’ve seen.</p>
            <div>

                <a href="/signup" class="btn-home">Sign up</a>
                <a href="/login" class="btn-home">Log in</a>
            </div>

        </div>

    </div>

</div>