@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
body {
  font-family: 'Asap';
  background-image: url("/images/pattern_sky.png");
}

nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90;
}

nav img {
  padding-left: 20px;
}

a {
  color: #00B7FF;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 850px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
}

.front-container img {
  width: 300px;
  height: 300px;
  padding: 50px;
}

.front-container p {
  color: #6b847c;
  font-size: 2em;
}

.btn-home {
  background-color: #c47339;
  padding: 10px 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.5em;
  margin-right: 20px;
}

.btn-home:hover {
  background-color: #e0d8b2;
}

h1 {
  color: #6b847c;
  font-size: 3em;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 350px;
  height: 350px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
}

.container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container form input {
  width: 300px;
  height: 40px;
  border-style: #6b847c 1px;
  margin: 10px;
  font-style: italic;
  color: #6b847c;
  font-size: 1em;
}

.container .additional {
  color: #6b847c;
}

.container a {
  color: #c47339;
  font-weight: 600;
  text-decoration: none;
}

.action-btn {
  background-color: #6b847c;
  margin-top: 5px;
  padding: 10px 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.3em;
  border-style: none;
  width: 200px;
}

.action-btn:hover {
  background-color: #e0d8b2;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu {
  margin-right: 50px;
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
  padding-right: 20px;
}

.navbar .add {
  color: #c47339;
}

.navbar .logout {
  color: #6b847c;
}

.create-container {
  background: rgba(255, 255, 255, 0.8);
  width: 800px;
  height: 600px;
  padding: 50px;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-container .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.create-container .col-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin: 50px;
}

.create-container input {
  width: 300px;
  height: 40px;
  border-style: #6b847c 1px;
  color: #6b847c;
  font-size: 1em;
}

.create-container #more-info {
  height: 218px;
}

.create-container label {
  font-size: 1em;
  font-weight: 500;
  padding: 20px 0 5px 0;
}

.create-container button {
  margin-left: 50px;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.card__container {
  width: 300px;
  height: 450px;
  margin: 40px;
}

.card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: #e0d8b2;
}

.card .title-card {
  line-height: 1em;
}

.card .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card h3 {
  font-weight: 600;
  font-size: 1.5em;
}

.card h4 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.2em;
}

.card .card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #6b847c;
  margin-top: 20px;
}

.card .details-link {
  text-decoration: none;
  font-weight: 600;
  color: #6b847c;
}

.card hr {
  border-top: 1px dashed;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}

.content-line {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-line .inline-info {
  padding-left: 10px;
}

.card-list {
  list-style-type: none;
}

.btn-container {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-container .btn-card-edit {
  background-color: #6b847c;
  margin-top: 5px;
  padding: 10px 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1em;
  border-style: none;
}

.btn-container .btn-card-edit:hover {
  background-color: #e0d8b2;
}

.btn-container .btn-card-delete {
  background-color: #c47339;
  margin-top: 5px;
  padding: 10px 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1em;
  border-style: none;
}

.btn-container .btn-card-delete:hover {
  background-color: #e0d8b2;
}
/*# sourceMappingURL=style.css.map */