<nav class="navbar">
    <a href="/"><img src="/images/logo-ocre.png" style="height: 55px" alt="bird-e"> </a>
    <div class="menu"><a href="/create" class="add">Add Bird</a>
        <a href="/logout" class="logout">Logout</a>
    </div>
</nav>

<div class="card-wrapper">

    {{#each birdsFromDB}}
    <ul class="card-list">
        <li>{{> birdCard}}</li>
    </ul>
    {{/each}}
    
</div>